In [1]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass

In [2]:
password = getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [4]:
type(engine)

sqlalchemy.engine.base.Engine

In [7]:
data = pd.read_sql_query('SELECT * FROM sakila.film', engine)
data.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [12]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
result = engine.execute("SELECT COUNT(DISTINCT SUBSTRING_INDEX(last_name, ' ', -1)) FROM actor")
pd.DataFrame(result)

   COUNT(DISTINCT SUBSTRING_INDEX(last_name, ' ', -1))
0                                                121

In [14]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
result = engine.execute("ALTER TABLE rental_date ADD COLUMN day_type VARCHAR(20)")
pd.DataFrame(result)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'sakila.rental_date' doesn't exist")
[SQL: ALTER TABLE rental_date ADD COLUMN day_type VARCHAR(20)]
(Background on this error at: https://sqlalche.me/e/14/f405)